* {
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3em;
}

html, body {
  margin: 0;
  height: 100%;
}

body {
  text-align: center;
  font-family: 'PT Sans', sans-serif;
  background-image: url(../img/scar.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.cute {
  font-family: 'Cute Font', cursive;
}

.ravenclaw {
  color: #000a90;
}

.no-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  user-select: none; /* Non-prefixed version (Chrome and Opera) */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

.round-button {
  width: 200px;
  height: 0;
  padding-bottom: 10%;
  border-radius: 50%;
  border: 2px solid #f5f5f5;
  overflow: hidden;
  box-shadow: 0 0 3px gray;
  cursor: pointer;
  margin-top: 10pt;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.gray {
  background: #464646;
}

.gray:hover {
  background: #262626;
}

.gray:active {
  background: #151515;
}

.blue {
  background: #0c41bd;
}

.blue:hover {
  background: #093290;
}

.centered {
  width: 256px;
  margin: 0 auto;
  text-align: center;
}

.footer {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 5pt 0;
}

#wrapper {
  margin-top: 20pt;
}

#wand-wrapper {
  text-align: center;
}

#renderCanvas {
  width: 100%;
  height: 70%;
  touch-action: none;
}
